<!doctype html>

<html lang="kr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

  <style>

    .container{
      display: flex;
      flex-direction: row;
      margin-top: 20px;

    }
    
    .side{
      flex: 1;
      border-right: solid grey;
      height: auto;
      margin-right: 20px;
    }
    
    .contents{
      flex: 6;
    }

    .school-name{
     margin-top: 20px;
     font-weight: bold;
     font-size: 20px;   
    }
    
    .elementary{
      display: flex;
      grid-row: 1 / 2;
    }

    .middle{
      display: flex;
      grid-row: 2 / 3;
    }

    .high{
      display: flex;
      grid-row: 3 / 4;
    }
    
    
    .card{
      height: 250px;
      width: auto;
      margin: 8px;
    }

    .friends-list{
      width : 150px;
      height: auto;
      margin: 8px;
      border: 1px solid black;
      text-align: center;
    }

    .navbar-nav{
      margin-left: 50px;
    }
    
    .side-menu{
      text-align: center;
      padding-right: 2px;
    }

    footer{
      width : auto;
      height: 100px;
      margin: 8px;
      border: 1px solid black;
      text-align: middle;        
    }

  </style>
  </head>
  
  <body>
  <header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a cl
    ass="navbar-brand" href="/main/show">I LOVE SCHOOL S2</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="#">커뮤니티 기능(재미요소)1</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">커뮤니티 기능(재미요소)2</a>
        </li>
      </ul>
    </div>
    </nav>
  </header>

 <div class="container">
  <div class="side">
  <div class="side-menu">로그아웃</div>
  <div class="side-menu">내 정보 수정</div>
  <hr>
  <div class="side-menu"><a href="/school_lists/new">글쓰기</a></div>
  <div class="side-menu">내가 쓴 글 보기</div>
  <div class="side-menu">나를 찾는 글 보기</div>
  </div>

 <div class="contents">
 <div class="school-name">초등학교</div>

  <div class="elementary">
   <div class="card border-primary mb-3" style="max-width: 18rem;">
      <div class="card-header">OO초등학교</div>
       <div class="card-body text-primary">
        <h5 class="card-title">OOO야 잘 지내니?</h5>
        <p class="card-text">누구누구 찾는다 어딨냐 찾는다 한번 만나자</p>
       </div>
     </div>
     
    <div class="card border-primary mb-3" style="max-width: 18rem;">
      <div class="card-header">OO초등학교</div>
       <div class="card-body text-primary">
        <h5 class="card-title">OOO야 잘 지내니?</h5>
        <p class="card-text">누구누구 찾는다 어딨냐 찾는다 한번 만나자</p>
      </div>
    </div>

    <div class="card border-primary mb-3" style="max-width: 18rem;">
      <div class="card-header">OO초등학교</div>
       <div class="card-body text-primary">
        <h5 class="card-title">OOO야 잘 지내니?</h5>
        <p class="card-text">누구누구 찾는다 어딨냐 찾는다 한번 만나자</p>
      </div>
    </div>

    <div class="friends-list">초등학교 동창</div>

  </div>

 <div class="school-name">중학교</div>

  <div class="middle">
    <div class="card border-primary mb-3" style="max-width: 18rem;">
      <div class="card-header">OO중학교</div>
       <div class="card-body text-primary">
        <h5 class="card-title">OOO야 잘 지내니?</h5>
        <p class="card-text">누구누구 찾는다 어딨냐 찾는다 한번 만나자</p>
       </div>
     </div>
     
    <div class="card border-primary mb-3" style="max-width: 18rem;">
      <div class="card-header">OO중학교</div>
       <div class="card-body text-primary">
        <h5 class="card-title">OOO야 잘 지내니?</h5>
        <p class="card-text">누구누구 찾는다 어딨냐 찾는다 한번 만나자</p>
      </div>
    </div>

    <div class="card border-primary mb-3" style="max-width: 18rem;">
      <div class="card-header">OO중학교</div>
       <div class="card-body text-primary">
        <h5 class="card-title">OOO야 잘 지내니?</h5>
        <p class="card-text">누구누구 찾는다 어딨냐 찾는다 한번 만나자</p>
      </div>
    </div>

    <div class="friends-list">중학교 동창</div>

  </div>
  
  <div class="school-name">고등학교</div>

  <div class="high">
    <div class="card border-primary mb-3" style="max-width: 18rem;">
      <div class="card-header">OO고등학교</div>
       <div class="card-body text-primary">
        <h5 class="card-title">OOO야 잘 지내니?</h5>
        <p class="card-text">누구누구 찾는다 어딨냐 찾는다 한번 만나자</p>
       </div>
     </div>
     
    <div class="card border-primary mb-3" style="max-width: 18rem;">
      <div class="card-header">OO고등학교</div>
       <div class="card-body text-primary">
        <h5 class="card-title">OOO야 잘 지내니?</h5>
        <p class="card-text">누구누구 찾는다 어딨냐 찾는다 한번 만나자</p>
      </div>
    </div>

    <div class="card border-primary mb-3" style="max-width: 18rem;">
      <div class="card-header">OO고등학교</div>
       <div class="card-body text-primary">
        <h5 class="card-title">OOO야 잘 지내니?</h5>
        <p class="card-text">누구누구 찾는다 어딨냐 찾는다 한번 만나자</p>
      </div>
    </div>

    <div class="friends-list">고등학교 동창</div>

  </div>
 </div>
 </div>
 

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

</body>

<footer> footer </footer>

  