<h3>내 정보 입력하기</h3>

<form action="/my_infos/create" method="POST" enctype="multipart/form-data">
    <input type="text" name="myInfo_username" id="myInfo_username_" style="width: 40px;"> 
    <label for="myInfo_username_"> 님, 안녕하세요!</label>
    <br>
    <input type="text" name="myInfo_email" id="myInfo_email_" style="width: 40px;"> 
    <label for="myInfo_email_"> 이메일을 입력 해주세요!</label>
    
    
    <br>
     <p>초등학교 정보를 입력해주세요.</p>  
    <br>
    <input type="text" name="myInfo_primary1" id="myInfo_primary1_" style="width: 50px;"> 
    <label for="myInfo_primary1_"> 초등학교 1학년 </label>
    <input type="text" name="myInfo_primary_class1" id="myInfo_primary_class1_" style="width: 15px;">
    <label for="myInfo_primary_class1_"> 반 </label>
    <br>
    <input type="text" name="myInfo_primary2" id="myInfo_primary2_" style="width: 50px;"> 
    <label for="myInfo_primary2_"> 초등학교 2학년 </label>
    <input type="text" name="myInfo_primary_class2" id="myInfo_primary_class2_" style="width: 15px;">
    <label for="myInfo_primary_class2_"> 반 </label>
    <br>
    <input type="text" name="myInfo_primary3" id="myInfo_primary3_" style="width: 50px;"> 
    <label for="myInfo_primary3_"> 초등학교 3학년 </label>
    <input type="text" name="myInfo_primary_class3" id="myInfo_primary_class3_" style="width: 15px;">
    <label for="myInfo_primary_class3_"> 반 </label>
    <br>
    <input type="text" name="myInfo_primary4" id="myInfo_primary4_" style="width: 50px;"> 
    <label for="myInfo_primary4_"> 초등학교 4학년 </label>
    <input type="text" name="myInfo_primary_class4" id="myInfo_primary_class4_" style="width: 15px;">
    <label for="myInfo_primary_class4_"> 반 </label>
    <br>
    <input type="text" name="myInfo_primary5" id="myInfo_primary5_" style="width: 50px;"> 
    <label for="myInfo_primary5_"> 초등학교 5학년 </label>
    <input type="text" name="myInfo_primary_class5" id="myInfo_primary_class5_" style="width: 15px;">
    <label for="myInfo_primary_class5_"> 반 </label>
    <br>
    <input type="text" name="myInfo_primary6" id="myInfo_primary6_" style="width: 50px;"> 
    <label for="myInfo_primary6_"> 초등학교 6학년 </label>
    <input type="text" name="myInfo_primary_class6" id="myInfo_primary_class6_" style="width: 15px;">
    <label for="myInfo_primary_class6_"> 반 </label>
    <br>
    <input type="text" name="myInfo_primary_year" id="myInfo_primary_year_"style="width: 30px;">
    <label for="myInfo_primary_year_"> 초등학교 졸업 년도 </label>
    
    
         <p>중학교 정보를 입력해주세요.</p>   
     <br>
    <input type="text" name="myInfo_middle1" id="myInfo_middle1_" style="width: 50px;"> 
    <label for="myInfo_middle1_"> 중학교 1학년 </label>
    <input type="text" name="myInfo_middle_class1" id="myInfo_middle_class1_" style="width: 15px;">
    <label for="myInfo_middle_class1_"> 반 </label>

    <br>
    <input type="text" name="myInfo_middle2" id="myInfo_middle2_" style="width: 50px;"> 
    <label for="myInfo_middle2_"> 중학교 2학년 </label>
    <input type="text" name="myInfo_middle_class2" id="myInfo_middle_class2_" style="width: 15px;">
    <label for="myInfo_middle_class2_"> 반 </label>

    <br>
    <input type="text" name="myInfo_middle3" id="myInfo_middle3_" style="width: 50px;"> 
    <label for="myInfo_middle3_"> 중학교 3학년 </label>
    <input type="text" name="myInfo_middle_class3" id="myInfo_middle_class3_"style="width: 15px;">
    <label for="myInfo_middle_class3_"> 반 </label>
    
    <br>
    <input type="text" name="myInfo_middle_year" id="myInfo_middle_year_"style="width: 30px;">
    <label for="myInfo_middle_year_"> 중학교 졸업 년도 </label>
 
     <p>고등학교 정보를 입력해주세요.</p>   
     <br>
    <input type="text" name="myInfo_high1" id="myInfo_high1_" style="width: 50px;"> 
    <label for="myInfo_high1_"> 고등학교 1학년 </label>
    <input type="text" name="myInfo_high_class1" id="myInfo_high_class1_" style="width: 15px;">
    <label for="myInfo_high_class1_"> 반 </label>

    <br>
    <input type="text" name="myInfo_high2" id="myInfo_high2_" style="width: 50px;"> 
    <label for="myInfo_high2_"> 고등학교 2학년 </label>
    <input type="text" name="myInfo_high_class2" id="myInfo_high_class2_" style="width: 15px;">
    <label for="myInfo_high_class2_"> 반 </label>

    <br>
    <input type="text" name="myInfo_high3" id="myInfo_high3_" style="width: 50px;"> 
    <label for="myInfo_high3_"> 고등학교 3학년 </label>
    <input type="text" name="myInfo_high_class3" id="myInfo_high_class3_"style="width: 15px;">
    <label for="myInfo_high_class3_"> 반 </label>
    
    <br>
    <input type="text" name="myInfo_high_year" id="myInfo_high_year_"style="width: 30px;">
    <label for="myInfo_high_year_"> 고등학교 졸업 년도 </label>
     <br>
    <button type="submit">제출</button>
</form>