
<h3>글쓰기</h3>

<form action="/posts/create" method="POST" enctype="multipart/form-data">
    <label for="title_">title: </label>
    <input type="text" name="title" id="title_" style="width: 40px;">
    <br>
    <label for="story_"> story: </label>    
    <input type="text" name="story" id="story_" style="width: 50px;"> 
    <button type="submit">제출</button>
</form>